<app-header>

</app-header>
<link href="dashboard-employee.component.css" type="text/css" rel="stylesheet" />
<!-- class="fs-10 fw-bold fst-italic p-3" -->
<div class="container">
  <main>
    <div>
      <div class="card">
        <div class="card-header text-dark">
          <strong>Employee Dashboard </strong>
        </div>
        <div class="card-body">
          <div class="container overflow-hidden">
            <div class="row gy-5">
              <div class="col-4">
                <div class="p-3 border border-bottom bg-secondary text-dark rounded-pill">
                  <p class="fs-3 fw-bold fst-italic text-center">Availed Leaves</p>
                  <br>
                  <p class="fs-3 fw-bold fst-italic text-center">5</p>
                </div>
              </div>
              <div class="col-4">
                <div class="p-3 border border-bottom bg-secondary text-dark rounded-pill">
                  <p class="fs-3 fw-bold fst-italic text-center">Leave Taken</p>
                  <br>
                  <p class="fs-3 fw-bold fst-italic text-center">2</p>
                </div>
              </div>
              <div class="col-4">
                <div class="p-3 border border-bottom bg-secondary text-dark rounded-pill">
                  <p class="fs-3 fw-bold fst-italic text-center">Availed Tours</p>
                  <br>
                  <p class="fs-3 fw-bold fst-italic text-center">7</p>
                </div>
              </div>
              <div class="col-4">
                <div class="p-3 border border-bottom bg-secondary text-dark rounded-pill pointer">
                  <p class="fs-3 fw-bold fst-italic text-center">Travel Taken</p>
                  <br>
                  <p class="fs-3 fw-bold fst-italic  text-center">3</p>
                </div>
              </div>
              <div class="col-4">
                <div class="p-3 border border-bottom bg-secondary text-dark rounded-pill">
                  <p class="fs-3 fw-bold fst-italic text-center">Notifications</p><br>
                  <p class="fs-3 fw-bold fst-italic text-center">3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>