<!-- class="fs-10 fw-bold fst-italic p-3" -->
<app-header> </app-header>
<div class="container">
  <main>
    <div class="">
      <div class="card">
        <div class="card-header  bg-dark text-white">
          <strong>Admin Dashboard </strong>
        </div>
        <div class="card-body">
          <div class="container overflow-hidden">
            <div class="row gy-4">
              <div class="col-4">
                <div class="shadow p-3 mb-5 bg-secondary rounded text-white">
                  <p class="fs-4 fw-bold fst-italic text-center">Total Employees</p>
                  <br>
                  <p class="fs-4 fw-bold fst-italic text-center">15</p>
                </div>
              </div>
              <div class="col-4">
                <div class="shadow p-3 mb-5 bg-primary rounded text-white">
                  <p class="fs-4 fw-bold fst-italic text-center">No of Leaves</p>
                  <br>
                  <p class="fs-4 fw-bold fst-italic text-center">12</p>
                </div>
              </div>
              <div class="col-4">
                <div class="shadow p-3 mb-5 bg-info rounded text-white">
                  <p class="fs-4 fw-bold fst-italic text-center">Pending for Approval</p>
                  <br>
                  <p class="fs-4 fw-bold fst-italic text-center">7</p>
                </div>
              </div>
              <div class="col-4">
                <div class="shadow p-3 mb-5 bg-info rounded text-white">
                  <p class="fs-4 fw-bold fst-italic text-center">Approved Leaves</p>
                  <br>
                  <p class="fs-4 fw-bold fst-italic  text-center">3</p>
                </div>
              </div>
              <div class="col-4">
                <div class="shadow p-3 mb-5 bg-warning rounded text-white">
                  <p class="fs-4 fw-bold fst-italic text-center">Notifications</p><br>
                  <p class="fs-4 fw-bold fst-italic text-center">3</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>